@model dynamic

<form id="studentForm">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="col-lg-12">
                    <div class="form-group">
                        <p style="margin-top:50px;"></p>
                        <font color="black">Broj indeksa:</font>
                        <input style="margin-top:10px;" required type="text" oninvalid="this.setCustomValidity('Niste uneli broj indeksa')"
                               oninput="this.setCustomValidity('')"
                               class="form-control" id="indexNumberStudent" placeholder="Unesite broj indeksa">
                        <input type="hidden" id="studentId" value="">
            
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="form-group">
                        <p style="margin-top:20px;"></p>
                        <font color="black">Ime:</font>
                        <input style="margin-top:10px;" required type="text" oninvalid="this.setCustomValidity('Niste uneli ime')"
                               oninput="this.setCustomValidity('')"
                               class="form-control" placeholder="Unesite ime" id="inputStudentFirstName">
                        <div id="error"></div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <p style="margin-top:20px;"></p>
                        <font color="black">Prezime:</font>
                        <input type="text" id="inputStudentLastName" required oninvalid="this.setCustomValidity('Niste uneli prezime')"
                               oninput="this.setCustomValidity('')" class="form-control" placeholder="Unesite prezime">
                        <div id="error"></div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <p style="margin-top:20px;"></p>
                        <font color="black">Grad:</font>
                        <input type="text" id="inputStudentCity" required oninvalid="this.setCustomValidity('Niste uneli grad')"
                               oninput="this.setCustomValidity('')" class="form-control" placeholder="Unesite grad">
                        <div id="error"></div>
                    </div>
                    <div id="errorStudent"></div>
                </div>
                <div class="col-lg-12">
                    <p style="margin-top:20px;"></p>
                    <button type="button" asp-action="Save" asp-controller="Student" class="btn btn-primary" id="addStudent">Sačuvaj</button>
                    <button type="button" asp-action="Update" asp-controller="Student" style="visibility: hidden; display:none" class="btn btn-primary" id="updateStudent">Sačuvaj izmene</button>
                </div>
            </div>
            <div class="col-lg-6">
                <p style="margin-top:50px;"></p>
                <font color="black">Studenti:</font>
                <p style="margin-top:10px;"></p>
                <table id="table_students" class="display">
                    <thead>
                        <tr>
                            <th>Broj indeksa</th>
                            <th>Ime</th>
                            <th>Prezime</th>
                            <th>Grad</th>
                            <th>Ispiti</th>
                            <th>Izmeni</th>
                            <th>Obriši</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (StudentView sv in Model.List)
                        {
                        <tr>
                            <td>@sv.IndexNumber</td>
                            <td>@sv.FirstName</td>
                            <td>@sv.LastName</td>
                            <td>@sv.City</td>
                            <td> <button type="button" data-toggle="modal" data-target="examsModal" asp-action="GetSubjectsAndMarksByIndexNumber" id="@sv" asp-controller="Student" class="btn btn-primary tableButtonExams">Ispiti</button></td>
                            <td> <button type="button" class="btn btn-success tableButtonUpdate" id="@sv">Izmeni</button></td>
                            <td> <button type="button" asp-action="Delete" asp-controller="Student" class="btn btn-danger tableButtonDelete" id="@sv">Obriši</button></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="examsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <partial name="~/Views/Student/ExamsPartialView.cshtml" model="new List<PassedExam>()"/>
    </div>
</form>